<div class="general-container">

    <div></div>

    <div>

        <form [formGroup]="contactForm">

            <mat-form-field>
                <mat-label>Nombre</mat-label>

                <input 
                   matInput
                   (keyup)="checkName()"
                   (blur)="checkName()"
                   [formControl]="name"
                   >

                   <mat-error *ngIf="validName">
                       Campo requerido
                   </mat-error>

                   <mat-error *ngIf="!validName">
                       Valor invalido
                   </mat-error>
            </mat-form-field>
        </form>

        <button mat-button color="primary" (click)="viewName()" [disabled]="validInput">Enviar</button>

        <p> {{ nameInput }} </p>

    </div>
</div>
