.home {
    background-image: linear-gradient( rgba(100, 100, 100, 0.4), rgba( 100, 100, 100, 0.4) ), url('../../../assets/image/childrenPlaying.jpg');
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;

}
.mensaje-central {
    margin: auto;
    padding: 20% 0%;
    width: 50%;
}