<div class="about-us">
    <div class="divider">
        <div>
            <h1 class="centerTxt">Acerca de nosotros</h1>

            <p>
                Es un desarrollo Web con Angular en el cual pretendemos hacer uso de los elementos de Angular Material y tener interacción con TypeScript.
            </p>
        </div>

        <div>
            <h3 class="centerTxt">
                Imagen
            </h3>
            <p>
                Aquí pondremos una imagen obtenida en el archivo de TypeScript.
            </p>
            <img class="imageTypeS" alt="img" src=" {{imgEjemplo}} ">
        </div>
    </div>
</div>
