.about-us {
    background-color: #d3d4d4;
    margin: 20px 30px;

}
.divider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.imageTypeS {
    width: 90%;
}
.centerTxt {
    text-align: center;
    color: green;
}